@import url('bootstrap.min.css');
@import url('all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
    font-size: 1rem;
}
body{
    font-family: "Open Sans", sans-serif;
}

h2{
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 0.75rem 0;
    color: #000;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    border-bottom: 1px #e5e5e5 solid;

}
h2 span{
    font-weight: 400;
}

/*Style for Home Page*/

/*Style for header*/
header .top-header{
    border-bottom: 1px solid #efefef;
}
header .top-header .nav-link{
    font-size: 0.625rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-right: 1px solid #efefef;
    color: #858585;
    display: inline-block;
    padding: 11px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

header .middle-part{
    margin-top: 1.5rem;
    margin-bottom: 1.225rem;
}

header .middle-part .container .row .col-sm-2 .logo{
    margin-top: 0.7rem;
}


header .middle-part .container .row .col-sm-8 .nav .nav-link{
    padding: 0.625rem 0.4375rem 0.4375rem 0.4375rem;
    color: #858585;
    font-size: 0.625rem;
    font-weight: normal;
    text-transform: uppercase;
}

header .middle-part .container .row .col-sm-8 .nav .nav-link .form-control{
    border-radius: 0;
    background-color: #f0f0f0;
    padding: 0.7rem 1.8rem 0.7rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}
header .middle-part .container .row .col-sm-8 .nav .nav-link .form-control::placeholder{
    color: #9a8e8e;
}

header .middle-part .container .row .col-sm-8 .nav .nav-link .input-group-text{
    border-radius: 0;
    background-color: #ef4749;
    border-color: transparent;
    color: #fff;
    padding: .375rem 1rem;
}



header .middle-part .container .row .col-sm-8 .nav .about-us{
    margin-top: 0.7rem;
    margin-right: 0.6rem;
}
header .middle-part .container .row .col-sm-8 .nav .nav-link .btn-danger{
    background-color: #ef4749;
    border-color: transparent;
}

header .middle-part .container .row .col-sm-8 .nav .nav-link .btn{
    border-radius: 0;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    line-height: 2.1rem;
    margin: 0;
    padding: 0.3rem 3.5rem 0.3rem 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

header .bg-body-tertiary{
    background-color: #4a4a4a !important;
    padding-top: 0;
    padding-bottom: 0;
}
header .navbar .container .navbar-nav .nav-item{
    padding-left: 7px;
    padding-right: 7px;
}
header .navbar .container .navbar-nav .nav-link{
    font-size: 0.7rem;
    padding: 11px 0 7px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    border-bottom: 1px solid transparent;
    margin-top: 0.15rem;
    margin-bottom: 0.3rem;
}

header .navbar .container .navbar-nav .nav-item:hover{
    background-color: #f8f8f8;
}

header .navbar .container .navbar-nav .nav-item:hover .nav-link{
    color: #6c6c6c;
    border-bottom: 1px solid #d5cdcd;
    margin-bottom: 0.3rem;
}

/*Style for Carousel*/

.carousel-item {
    transition: transform 2s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2s;
}

/*Style for Best Sellers*/
.products .card{
    border-color: transparent;
}
.products .card .card-body .card-title a{
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #000;
}

.products .card .card-body .card-title a:hover{
    color: #ef4749;
}

.products .card .card-body .rating i{
    color: #fafa02;
}

.products .card .card-body .price {
    font-weight: bold;
    color: #000;
    font-size: 0.875rem;
}

.products .card .card-body p .btn{
    padding: 8px 12px;
    font-size: 11px ;
    border: 1px solid #d1d1d1;
    text-align: center;
    letter-spacing: 1px;
    color: #666;
    font-weight: bold;
    transition: all 0.3s linear;
    text-transform: uppercase;
    background: #fff;
    border-radius: 0;
}

.products .card .card-body p .btn:hover{
    background: #ef4749;
    color: #fff;
    border: 1px #ef4749 solid;
}

.products .offer-slider{
    background-image: url("../img/deals-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.products .offer-slider h3{
    color: #ef4749;
    font-size: 44px;
    margin: 0 auto 10px;
    font-weight: 400;
    display: block;
    padding: 0;
    text-align: center;
    letter-spacing: -1px;
    font-family: 'PT Sans', sans-serif;
}

footer .footer-bottom{
    padding: 2rem 0 1rem;
    background-color: #333;
    color: #666;
}


/*Style for Product Page*/
.product-breadcrumb .breadcrumb .breadcrumb-item{
    font-size: 11px;
    font-weight: normal;
}
.product-breadcrumb .breadcrumb .breadcrumb-item a{
    color: #666;
    text-decoration: none;
}

.product-breadcrumb .breadcrumb .active{
    color: #000;
}

.wrapper .container .row .col-sm-3 h3{
    border-bottom: 2px solid #333;
    color: #000;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
    margin: 0;
    padding: 0 0 0.625rem 0;
    text-transform: uppercase;
}

.wrapper .accordion .accordion-item{
    border-color: transparent;
}
.wrapper .accordion .accordion-item .accordion-header{
    border-color: transparent;
}

.wrapper .accordion .accordion-item .accordion-button:not(.collapsed){
    background-color: transparent;
    border-color: transparent;
}
.wrapper .accordion .accordion-item h2{
    border-color: transparent;
    padding: 0;
}

.wrapper .accordion .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.wrapper .accordion .accordion-item:first-of-type > .accordion-header .accordion-button{
    border-color: transparent;

}

.wrapper .accordion .accordion-item .accordion-button{
    padding: 0;
}
.wrapper .accordion .accordion-item .accordion-body .nav-link{
    color: #000;
    font-size: 0.8rem;
}

.wrapper .container .col-sm-9 .products h2 a{
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
}

/*Style for Signup page*/
.myAccount h4{
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    padding-bottom: 0.7rem;
    text-transform: uppercase;
}

.myAccount form input::placeholder{
    color: #b2aeae;
    font-size: 0.8rem;
}


.logIn h4{
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    padding-bottom: 0.7rem;
    text-transform: uppercase;
}

.logIn form input::placeholder{
    color: #b2aeae;
    font-size: 0.8rem;
}

/*Style for Product Detail Page*/

.product-name .product_title{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding-bottom: 12px;
    padding-right: 55px ;
    text-align: left;

}

.product-detail .rating .price{
    color: #000;
    font-size: 1.8rem;
    font-weight: normal;
}
.product-detail .row .col-sm-7 .cart-btn .form-control{
    width: 10%;
    border-radius: 0;

}
.product-detail .row .col-sm-7 .stock{
    font-size: 0.92rem;
    color: #77a464;
}
.product-detail .row .col-sm-7 .btn{
    border-radius: 0;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    line-height: 2.1rem;
    margin: 0 0 1rem;
    padding: 0 1.5rem 0 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f7746d;
    border: 1px solid #f7746d
}

/*Style for Shopping Cart*/
.shopping-cart .container .page-title{
    color: #000;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    padding-bottom: 11px;
    text-align: left;
    margin-bottom: auto;
    font-family: 'PT Sans', sans-serif;
    border-bottom: 0;
}

.shopping-cart .container .row .col-sm-3 .summary .cart-summary{
    font-size: 2.4rem;
    font-weight: 300;
    margin: 12px 0;
    color: #333;
    text-align: right;
}









/*Media Quieries*/
@media (max-width: 320px){
    html{
        font-size: 0.9rem;
    }
}

@media (min-width: 575px) and (max-width: 575.99px) {  }